/* Custom fonts */

@font-face {
  font-family: GISTO;
  src: url(fonts/GISTOFont-Regular.otf);
}

@font-face {
  font-family: PicNic;
  src: url(fonts/PicNic-Regular.woff);
}

@font-face {
  font-family: DM Mono Regular;
  src: url(fonts/DMMono-Regular.ttf);
}

@font-face {
  font-family: DM Mono Italic;
  src: url(fonts/DMMono-Italic.ttf);
}

/* Basic styling */

* {
  color: #003b01;
  border: 0;
  margin: 0;
  font-family: sans-serif;

}

body {
  background-color: pink;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  color: #003b01;
  font-family: 'PicNic';
  text-align: center;
}

h1 a {
font-family: 'PicNic';
text-decoration: none;
} :active {
  text-decoration: none;
} :hover {
  color: white;
}

/* Homepage styling */

.main-link {
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translate(-50%,-50%);
  z-index: auto;
}

.main-link:hover {
  z-index: 1000;
}

.main-link a {
  font-size: 4em;
  font-family: 'PicNic';
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

.main-link a:hover {
  font-weight: bolder;
  color: white;
}

/* Books page styling */

.books-list {
  list-style: none;
  list-style-position: outside;
  list-style-image: url('sun.svg');
  margin-left: 2vw;
}

.books-list-item {
  padding: 25px;
  font-size: 1.3em;
}

.books-list-item a {
  text-decoration: none;
} :active {
  text-decoration: none;
}

.menu-items a {
  position: absolute;
  top: 20px;
}
.menu-items a img:hover {
  width: 110%;
  height: 110%;
}

.menu-items:nth-child(1) {
  left: 20px;
} :nth-child(2) {
  left: 80px;
} :nth-child(3) {
  right: 80px;
} :nth-child(4) {
  right: 20px;
}
