@font-face {
  font-family: GISTO;
  src: url(fonts/GISTOFont-Regular.otf);
}

@font-face {
  font-family: PicNic;
  src: url(fonts/PicNic-Regular.woff);
}

@font-face {
  font-family: DM Mono Regular;
  src: url(fonts/DMMono-Regular.ttf);
}

@font-face {
  font-family: DM Mono Italic;
  src: url(fonts/DMMono-Italic.ttf);
}

* {
  color: #003b01;
  border: 0;
  margin: 0;
  font-family: 'DM Mono Regular';
  text-align: center;
}

body {
  background-color: pink;

    align-items: center;
    justify-content: center;
}

.main {

}

h1 {
  font-size: 3em;
  color: #003b01;
  font-family: 'PicNic';
}

.main-link {
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translate(-50%,-50%);
  z-index: auto;
}

.main-link:hover {
  z-index: 1000;
}

.main-link a {
  font-size: 4em;
  font-family: 'PicNic';
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

.main-link a:hover {
  font-weight: bolder;
}
