* {
  background-color: pink;
  color: white;
  border: 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: blue;
}

.marquee {
  color: green;
  font-size: 2rem;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: 0;
}
