@font-face {
  font-family: GISTO;
  src: url(fonts/GISTOFont-Regular.otf);
}

@font-face {
  font-family: PicNic;
  src: url(fonts/PicNic-Regular.woff);
}

* {
  background-color: pink;
  color: white;
  border: 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: blue;
  font-family: 'GISTO';
}
