@font-face {
  font-family: GISTO;
  src: url(fonts/GISTOFont-Regular.otf);
}

@font-face {
  font-family: PicNic;
  src: url(fonts/PicNic-Regular.woff);
}

* {
  background-color: pink;
  color: white;
  border: 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: blue;
  font-family: 'GISTO';
}

.main-link {
  position: absolute;
}

.main-link a {
  font-size: 4rem;
  font-family: 'PicNic';
  text-decoration: none;
  font-weight: normal;
}

.main-link a:hover {
  font-weight: bolder;
}

.screen-top {
  top: 100px;
}

.screen-bottom {
  bottom: 100px;
}

.screen-left {
  left: 100px;
}

.screen-right {
  right: 100px;
}
