@font-face {
  font-family: GISTO;
  src: url(fonts/GISTOFont-Regular.otf);
}

@font-face {
  font-family: PicNic;
  src: url(fonts/PicNic-Regular.woff);
}

* {
  background-color: pink;
  color: white;
  border: 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

h1 {
  font-size: 1em;
  color: blue;
  font-family: 'GISTO';
}

.main-link {
  position: absolute;
  top: 100px;
  left: 100px;
}

.main-link a {
  font-size: 4em;
  font-family: 'PicNic';
  text-decoration: none;
  font-weight: normal;
}

.main-link a:hover {
  font-weight: bolder;
}
